/* magenta: #e2007a
   cyan: #009ee0
   green: #57ab27, #8ade5a
   orange: #ea670c, #ff9a3f
*/

@import url("fonts.css");

/* PROGRESS BAR */

.reveal .progress {
  top: 0;
}

.reveal .progress span {
  background: #57ab27;
}

/* NAVIGATION CONTROLS */

.reveal .controls button.navigate-left {
  border-right-color: #ccc;
  opacity: 0.5;
}

.reveal .controls button.navigate-right {
  border-left-color: #ccc;
  opacity: 0.5;
}

.reveal .controls button.navigate-up {
  border-bottom-color: #ccc;
  opacity: 0.5;
}

.reveal .controls button.navigate-down {
  border-top-color: #ccc;
  opacity: 0.5;
}

.reveal .controls button.navigate-left.enabled {
  border-right-color: #ea670c;
  opacity: 1;
}

.reveal .controls button.navigate-right.enabled {
  border-left-color: #ea670c;
  opacity: 1;
}

.reveal .controls button.navigate-up.enabled {
  border-bottom-color: #ea670c;
  opacity: 1;
}

.reveal .controls button.navigate-down.enabled {
  border-top-color: #ea670c;
  opacity: 1;
}

.reveal .controls button.navigate-left.enabled:hover {
  border-right-color: #ff9a3f;
  opacity: 0.7;
}

.reveal .controls button.navigate-right.enabled:hover {
  border-left-color: #ff9a3f;
  opacity: 0.7;
}

.reveal .controls button.navigate-up.enabled:hover {
  border-bottom-color: #ff9a3f;
  opacity: 0.7;
}

.reveal .controls button.navigate-down.enabled:hover {
  border-top-color: #ff9a3f;
  opacity: 0.7;
}

/* SLIDE BACKGROUNDS */

body {
  transition: background 800ms ease;
  background-image: url(logo-content.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 30%;
}

/* TEXT HIGHLIGHTING */

.reveal strong {
  color: #e2007a;
}

.reveal em {
  color: #009ee0;
}

/* LINKS */

.reveal a:not(.image) {
  color: #57ab27;
  text-decoration: underline;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #8ade5a;
  text-shadow: none;
  border: none;
}

/* IMAGES */

.reveal section img {
  border: none;
}

/* TEXT RENDERING */

.reveal .slides section {
  font-family: LatoWeb, Arial, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: LatoWeb, Arial, sans-serif;
  hyphens: none;
}

.reveal .slides p {
  text-align: left;
}

.has-dark-background h1,
.has-dark-background h2,
.has-dark-background h3,
.has-dark-background h4,
.has-dark-background h5,
.has-dark-background h6,
.has-dark-background {
  color: white;
}

/* MULTI-COLUMN LAYOUTS */

.container {
    display: flex;
}

.col {
    flex: 1;
    /* necessary for flex items to shrink below any intrinsic width (e.g. for
       <pre/>) and horizontally overflow instead of trailing offscreen */
    min-width: 0;
}

/* CENTERING */

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
